@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    overflow-x: hidden;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 5%;
    margin: 20px auto;
}

.carousel-slide {
    flex: 0 0 100%;
    transition: transform 0.5s;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-navigation {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 50px;
}




.home-sci a {
    width: 2rem; /* Responsive width */
    height: 2rem; /* Responsive height */
    font-size: 1.5rem; /* Responsive font size */
    margin: 1rem; /* Responsive margin */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%; /* Adjust padding for smaller screens */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 5%;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
}

.dropdown-content li {
    padding: 10px;
    text-align: center;
    color: #081b29; /* Set the text color */
}

/* Change background color when hovering over dropdown links */
.dropdown-content li:hover {
    background-color: white;
    color:#00abf0; /* Set the text color on hover */
}

/* Show the dropdown content when hovering over the portfolio link */
.portfolio:hover .dropdown-content {
    display: block;
}

/* Prevent "Portfolio" link text from changing color on hover */
.portfolio a:hover {
    color: #080808
}


.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;   
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #080808;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    display: flex;
    align-items: center; /* Align the links vertically in the header */
}

/* Apply margin-right to create spacing between links */
.navbar a {
    margin-right: 35px;
}

.navbar a:last-child {
    margin-right: 0; /* Remove margin-right for the last link */
}

.navbar a:hover,
.navbar a.active {
    color: #ff004f;
}
.navbar a:hover,
.navbar a.active
{
    color: #a30034;
}

.home {
    height: 100vh;
    background: url('img/image.png') no-repeat;
    background-color: #081b29;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home {
    background: url('img/image.png') no-repeat;
    background-size: cover;
    background-color: #080808;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #ff004f
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    background: #ff004f;
}

.btn-box a:nth-child(2) {
    background-color: transparent;
    color: #00abf0
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-sci a {
    display: flex;
    position: relative;
    
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff004f;
    border-radius: 50%;
    font-size: 20px;
    color: #ff004f;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-right: 25px;
}

.home-sci a:last-child {
    margin-right: 0;
}
.home-sci a:hover {
    color: #081b29;
}


.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff004f;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}


.home-imgHover {
    position: absolute;
    top: 0;
    right: 10%; /* Adjust the percentage for responsive positioning */
    width: 45%; /* Adjust the percentage for responsive width */
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background:#080808;
    opacity: .8;
}

/* KEYFRAMES ANIMATION */

@keyframes showRight {
    100% {
        width: 0;
    }
}